@media screen and (max-width: 425px){
    .head {
        width: auto;
        margin: 0px;
    }
    .nav-bar{
        display: flex;
        align-items: center;
        margin-right: 0px;
    }
    .logo {
        margin: 0px;
    }
    .button {
        margin-top: 30px;
        margin: 0px;
    }
    .button_one {
        margin-top: 25px;
        margin-right: 0px;
        margin-left: 120px;
        padding-top: 6px;
        padding-bottom: 6px;
        width: 100px;
    }
    .pic {
        width: 100px;
        height: 15px;
        margin-left: 35px;
        margin-bottom: 30px;
    }

    .heding_container {
        width: auto;
        display: flex;
        flex-direction: column;
        font-size: 10px;
        margin: 0px;
    }
    .head_content {
        width: auto;
        margin: 0px;
    }
    .head_content h1{
        margin-left: 90px;
        width: 250px;
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    .head_content p {
        margin-left: 50px;
        width: 280px;
        text-align: center;
        font-size: 15px;
    }
    .head_content button {
        margin-left: 50px;
        width: 300px;
    }
    .head_img_container {
        width: 330px;
        margin-top: 70px;
    }
    .main_content {
        width: auto;
        height: 1300px;
        margin-top: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .box_content {
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 0px;
        margin-left:0px ;
        margin-right: 0px;
        margin-top: 0px;
        position: relative;
        box-shadow: 2px 2px 2px 5px rgba(214, 212, 212, 0.433); 
    }

    .img-box_1 {
        height: 200px;
        width: 200px;
        margin-left: 50px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .img-box_2 {
        width: 200px;
        height: 200px;
        margin-left: 50px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .box_content_2 {
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        margin-left:0px ;
        margin-right: 0px;
        margin-top: 30px;
        box-shadow: 2px 2px 2px 5px rgba(214, 212, 212, 0.433); 
    }
    .first_para, .second_para {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        margin-bottom: 30px;
        text-align: center;
    }
    .first_para h2 , .second_para h2{
        font-size: 12px;
        text-align: center;
        margin-left: 100px;
        margin-left: 0px;
        margin-top:0px ;
        margin-bottom: 0px;
    }
    .first_para p, .second_para p{
        font-size: 8px;
        width: 200px;
        margin-left: 40px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom:0px ;
        
    }
    .footer {
        display: flex;
        flex-direction: column;
        margin: 0px;
        height: 700px;
        width: auto;
        font-size: 12px;
        
    }
    .left_side {
        margin-top: 150px;
        height: 200px;
        margin-left: 0px;
        width: 290px;
    }
    .midle_1 {
        margin-top: 0px;
        margin-left: 0px;
        height: 90px;
        width: 290px;
        display: flex;
        vertical-align: top;
        justify-content: flex-start;
    }
    .midle_1 p {
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 30px;
        
    }
    .right_side {
        margin-top: 0px;
        height: 150px;
        margin-left: 40px;
        width: 290px;
    }
    .right_side  div {
        margin-left:60px;
        margin-bottom: 30px;
    }
    .copyright {
        color: white;
        margin-top: 0px;
        margin-left: 0px;
        
    }
    .box-modul {
        width: 300px;
        height: 150px;
        box-shadow: 2px 2px 2px 3px rgba(214, 212, 212, 0.084); 
        left: 0px;
        margin-top: -100px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        left: 35px;
    }
    .box_para {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .box-modul button {
        margin-top: 10px;
        width: 200px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-style: none;
        background-color: hsl(322, 100%, 66%);
        border-radius: 22px;
        box-shadow: 2px 2px 2px 2px rgba(207, 172, 197, 0.504);
        color: white;
        font-size: 10px;
    }

}