@media screen and (max-width: 425px){
    .nav-bar{
        display: flex;
        align-items: center;
        width: 375px;
    }
    .logo {
        margin: 0px;
    }
    .button {
        margin-top: 30px;
        margin: 0px;
    }
    .button_one {
        margin-top: 25px;
        margin-right: 0px;
        margin-left: 120px;
        padding-top: 6px;
        padding-bottom: 6px;
        width: 100px;
    }
    .pic {
        width: 100px;
        height: 15px;
        margin-left: 35px;
    }

    .heding_container {
        width: 375px;
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    .head_content {
        width: auto;
    }
}